<!DOCTYPE html>
{% autoescape true %}
<html>
  <body>
    {% for greeting in greetings %}
      <form action = "/VoteUp?up={{ greeting.name }}" method = "post">
        <input type="submit" value="Up" />
      </form>
      {% if greeting.author %}
        <b>{{ greeting.author.nickname() }}</b> wrote:
      {% else %}
       An anonymous person wrote:
      {% endif %}
      <blockquote>{{ greeting.name }}</blockquote>
    {% endfor %}

    <form action="/sign?location_name={{ location_name }}" method="post">
      <div><textarea name="name" rows="3" cols="60"></textarea></div>
      <div><input type="submit" value="Submit Location"></div>
    </form>

    <hr>

    <form>Region name:
      <input value="{{ location_name }}" name="location_name">
      <input type="submit" value="switch">
    </form>

    <a href="{{ url|safe }}">{{ url_linktext }}</a>

  </body>
</html>
{% endautoescape %}
